
<!--include header-->
    <%-include('include/_header')%>
<!--/include header-->
<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex-justify-between">  
        <a href="/add-student" class="border-shadow">
        <span class="text-gradient">New Student<i class="fas fa-user"></i></span> 
        </a> 
        </div>
        <!-- form handling -->
        <form action="/"method="POST">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>lastName</th>
                        <th>@Email</th>
                        <th>Mobile</th>
                        <th>Gender</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <%-include('include/_show')%> 
                </tbody>
            </table>
        </form>
    </div>
</main>
  <!--/main site-->

<!--include footer-->
    <%-include('include/_footer')%>
<!--/include footer-->