<!--include header-->
<%-include('include/_header')%>
<!--/include header-->

<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex-justify-between">  
            <div class="filter">
                <a href="/"><i class="fas fa-angle-double-left"></i>All Students</a>
            </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">Update Student</h2>
            <span class="text-light"> Student the below form to Update an account</span>
        </div>
        <!-- form handling -->
      <!-- add student -->
      <form method="POST" id="update_student" name="myform" onsubmit="return validation()">
        <div class="new_student">
            <div class="form-group">
                <label for="name" class="text-light"> First Name</label>
                <input type="hidden" name="id" value="<%= student._id%>">
                <input type="text" name="name" value="<%= student.name%>" placeholder="First Name">
            </div>
            <div class="form-group">
                <label for="name" class="text-light">Last Name</label>
                <input type="hidden" name="id" value="<%= student._id%>">
                <input type="text" name="lastname" value="<%= student.lastname%>" placeholder="Last Name">
            </div>
            <div class="form-group">
                <label for="Email" class="text-light">Email</label>
                <input type="text" name="email" value="<%= student.email%>" placeholder="enter email">
            </div>
            <div class="form-group">
                <label for="number" class="text-light">Mobile</label>
                <input id="numero" name="number" value="<%= student.mobile%>" placeholder="Enter Number" type="text" class="numer">
                <span id="spa"></span>
            </div>
            <div class="form-group">
                <label for="gender" class="text-light">Gender</label>
                <div class="radio inline">
                    <input type="radio" id="radio-2" name="gender" value="Male"<%= student.gender == 'Male' ? 'checked' : '' %>>
                    <label for="radio-2" class="radio-label">Male</label>
                </div>
                <div class="radio inline">
                    <input type="radio" id="radio-3" name="gender" value="Female"<%= student.gender == 'Female' ? 'checked' : '' %>>
                    <label for="radio-3" class="radio-label">Female</label>
                </div>
            </div>
    
                <div class="form-group">
                    <label for="gender" class="text-light">Status</label>
                    <div class="radio inline">
                        <input type="radio" id="radio-4" name="status" value="Active"<%= student.status == 'Active' ? 'checked' : '' %>>
                        <label for="radio-4" class="radio-label">Active</label>
                    </div>
                    <div class="radio inline">
                        <input type="radio" id="radio-5" name="status" value="Inactive"<%= student.status == 'Inactive' ? 'checked' : '' %>>
                        <label for="radio-5" class="radio-label">Inactive</label>
                     </div>
                </div>
    
                <div class="form-group">
                    <button type="submit" class="btn text-dark update">Save</button>
                </div>
           
        </div>
    </form>

    </div>
</main>
<!--include footer-->
<%-include('include/_footer')%>
<!--/include footer-->